---
title: Spyro: The Dragon Eclipse
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>


    
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Spyro: The Dragon Eclipse</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/eclipse.png"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>Rettroix</a></strong></td>
          <td class="sformstrip" style="text-align:left;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="eclipse"></div> </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">Spyro fangame Created by Rettroix This fangame was created by me back when nobody else had attempted to make a 3D Spyro game. I was making it with very little experience in unity so as a result the development did not go very smoothly. Currently progress is on hiatus and plan to go back to developing the game from scratch in the future. <br>
            <br>
There was once a very early demo you could play, but it's awful and completely different to what the game looks like in it's current state so is no longer on the internet. Any progress will be uploaded to the youtube channel.<br>
<br>
Youtube Link: <a href="https://www.youtube.com/user/hoixsoft/ ">Click </a><br>
<br>
Quality Rating is N/A as I can't rate my own games, too much bias :P 



<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>In-Development</strong></td>
          <td width="50%">Type: <strong>Spyro Fangame</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/f6PctEwzrNc" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}