---
title: Spyro The Dragon: Gold Time
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Spyro The Dragon: Gold Time</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/goldtime.jpg"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>Ivan_Proskater</a></strong></td>
          <td class="sformstrip" style="text-align:left;padding:2px" width="15%" height="25"><div class="rw-ui-container" data-title="goldtime"></div>
             
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">Spyro fangame Created by Ivan_Proskater This 3D Spyro project has a lot of potential. In it's current state there are a few problems such as the controls, and it's hard to navigate environments, however it's early days and the creator seems committed to fixing these problems!<br>
            <br>
You can download a demo on it's website and progress can be track on the youtube channel. <br>
<br>
Youtube Link: <a href="https://www.youtube.com/channel/UCWXlKibVSPa6sIjoe1Ul-XA/videos">Click </a><br>
Website Link: <a href="http://gamejolt.com/games/spyro-the-dragon-gold-time/122148#">Click </a><br>
<br>
If you created this fangame and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>In-Development</strong></td>
          <td width="50%">Type: <strong>Spyro Fangame</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XctrLbhpX6g" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}