---
title: Spyro: Myths Awaken
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" href="style.css" />
</head>
  <div id="article">
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Spyro: Myths Awaken</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{site.baseurl}}/images/fangameimages/thumbnails/Mythsawaken.png">
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>Cyreides</a></strong></td>
          <td class="sformstrip" style="text-align:right;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="Mythsawaken"></div>

          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">&nbsp;A brand new adventure set in the style of the original trilogy. Another amazing Spyro game that could easily be mistaken for an official ps1 game.<br>
            <br>
You can watch development on cyreides's youtube channel and there is also a reddit page for the project.<br>
<br>
Reddit Page:: <a href=" https://www.reddit.com/r/Spyro4/">https://www.reddit.com/r/Spyro4/</a><br>
Youtube Channel: <a href=" https://www.youtube.com/channel/UCrb_jsVoCDTaskcBX4547Xw">https://www.youtube.com/channel/UCrb_jsVoCDTaskcBX4547Xw</a><br>
<br>
If you created this fanwork and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>In-Development</strong></td>
          <td width="50%">Type: <strong>Spyro Fangame</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QR8e2yuY5I8" frameborder="0" allowfullscreen></iframe>
  <br><br>
</div>
{% include comment.html %}