---
title: Spyro Reborn
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Spyro Reborn</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/reborn.png"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>Rettroix</a></strong></td>
          <td class="sformstrip" style="text-align:right;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="reborn"></div>
             
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">&nbsp; My first Spyro fan game, created before I started Spyro Eclipse, it was never finished or released but may finish it off and release it in the future. The game is played in top down view similar to the GBA games. <br>
            <br>
A demo was never released. <br>
<br>

<br>
If you created this fangame and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>In-Development</strong></td>
          <td width="50%">Type: <strong>Spyro Fangame</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/myot5qpcciU" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}