---
title: Spyro: Ripto's Return
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Spyro: Ripto's Return</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/riptosreturn.png"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>Silver Studios </a></strong></td>
          <td class="sformstrip" style="text-align:right;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="riptosreturn"></div>
             
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">&nbsp; Another candidate for being the best Spyro fangame coming soon, this spectacular project looks and plays almost exactly like the original trilogy.<br>
            <br>
There is currently only an early demo that you can play and you can watch the game develop on it's youtube channel.<br>
<br>
Download Demo: <a href=" http://www.mediafire.com/download/1z79avz1zuz9wxr/5-25-14.rar"> http://www.mediafire.com/download/1z79avz1zuz9wxr/5-25-14.rar</a>
<br>
Youtube Channel: <a href=" https://www.youtube.com/channel/UC0sbhwTQX-inB-Pv6tZF29g"> https://www.youtube.com/channel/UC0sbhwTQX-inB-Pv6tZF29g</a><br>
<br>
If you created this fangame and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>In-Development</strong></td>
          <td width="50%">Type: <strong>Spyro Fangame</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vUWOC-3vai4" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}
