---
title: Two Early Spyro 2D Test Games
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Two Early Spyro 2D Test Games</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/rubberrabbit.png"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>RubbberRabbbit2 </a></strong></td>
          <td class="sformstrip" style="text-align:right;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="rubberrabbit"></div>
             
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">&nbspSpyro fangame Created by RubbberRabbbit2



I'm including two Spyro fangames in one here since they came together in a video and there's no point creating separate pages for them since they are just one level tests. These are some of the earliest examples of Spyro fangames created in 2009. I can't find an earlier example. Despite being old, these are really solid examples of fan games and could definitely be used as a basis for a really good game. Ratchet5's game may be based on the engine of the 2nd game.<br>
            <br>
You can download these games in the description of the youtube video however they come as .gmk files which allows you to edit them and create your own games from them. You will need to use an older version of game maker (game maker 8) to open the 2nd game. The first game needs an even older game maker version to open.<br>
<br>
Youtube Link: <a href=" https://www.youtube.com/watch?v=jUtnxbTihY0"> https://www.youtube.com/watch?v=jUtnxbTihY0</a><br>
If you created this fangame and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>Finished</strong></td>
          <td width="50%">Type: <strong>Spyro Fangame</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/jUtnxbTihY0" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}
