---
title: Waffled's 2D Spyro Project
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Waffled's 2D Spyro Project</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/waffled.png"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>Waffled</a></strong></td>
          <td class="sformstrip" style="text-align:right;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="waffled"></div>
             
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">&nbsp; Spyro fangame Created by Waffled
This is currently the best 2D Spyro game that has amazing design and really feels spyro-ey despite being 2D. So far, there is  5 levels, consisting of one hub, three levels and a boss level.  There are a total of 500 Gems to collect as well as 10 Orbs. At least 5 of these orbs are needed to access the boss fight via the golden whirlwind at then end of the hub world.<br>
            <br>
There is a demo on the website and development can be followed on youtube.<br>
<br>
Website: <a href=" http://gamejolt.com/games/spyro-project-fan-game/130936</a><br>
Youtube Channel: <a href=" https://www.youtube.com/channel/UC4RZN9yJry0gWaHVMgbCZbg</a><br>
<br>
If you created this fangame and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>In-Development</strong></td>
          <td width="50%">Type: <strong>Spyro Fangame</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/i4ad4pIJ1D" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}
