---
title: Spyro The Dragon: Beta Playthrough
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Spyro The Dragon: Beta Playthrough</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/beta.png"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>LXShadow</a></strong></td>
          <td class="sformstrip" style="text-align:right;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="spyrobeta"></div>
             
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">&nbsp; LXShadow somehow get's his hands on a copy of the Spyro The Dragon beta and provides a whole playthrough of it. Sadly a beta hasn't been leaked to the publics hands but at least we get this. You'll see so many diffrences to the finished game, such an interesting watch. Go watch this now.<br>
            <br>
<br>
Full Playlist Link: <a href=" https://www.youtube.com/playlist?list=PL8F1834A641B71DBC"> https://www.youtube.com/playlist?list=PL8F1834A641B71DBC</a><br>
<br>
If you created this fanwork and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>Complete</strong></td>
          <td width="50%">Type: <strong>Spyro Beta Playthrough</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/twfIYgOo1UI" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}
