---
title: Vertex Skybox Editor
---
{% include ratings.html %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
</head>
<div class="container">
  <div id="article">  
  <div class="sform">
  <table class="sformtable" cellspacing="0">
    <tbody><tr>
      <td colspan="2" class="sformsubstrip" height="28"><strong class="highlight">Vertex Skybox Editor</strong></td>
    </tr>
    <tr>
    <td rowspan="2" align="center" width="320" height="240">
      <img src="{{ site.baseurl }}/images/fangameimages/thumbnails/skyboxeditor.png"> 
    </td>
    <td align="left" valign="top" height="212">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td class="sformstrip" height="25"> By: <strong><a>RubbberRabbit2</a></strong></td>
          <td class="sformstrip" style="text-align:right;padding:2px" width="15%" height="25"> <div class="rw-ui-container" data-title="skyboxeditor"></div>
             
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" width="100%">&nbsp; 
The vertex Skybox editor is a tool which allows you to create your own spyro style skybox's and even import them ingame using SpyroEdit.<br>
            <br>
You can download from the description of the linked youtube video.<br>
<br>
Youtube Page: <a href="  https://www.youtube.com/watch?v=s-aROlPyHIc">  https://www.youtube.com/watch?v=s-aROlPyHIc</a><br>
<br>
If you created this fanwork and want to add more information to this page please email me at rettroix@gmail.com<br></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td class="sformstrip" height="28">
      <table border="1" cellpadding="2" cellspacing="0" width="100%">
        <tbody><tr>
          <td width="50%"> Completion: <strong>In-Development</strong></td>
          <td width="50%">Type: <strong>Spyro Tool</strong></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  </tbody></table>
  </div>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/s-aROlPyHIc" frameborder="0" allowfullscreen></iframe> 
  <br><br> 

</div>
{% include comment.html %}
